.invitations-card {
  height: 300px;
  padding: 20px;
  background-color: #ffffff;


  
}

.invitation-list {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.invitation-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.username {
  flex: 1;
  margin-left: 10px;
  font-weight: 500;
}

.actions {
  display: flex;
  gap: 12px;
}

.icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: transform 0.2s;
}

.icon:hover {
  transform: scale(1.1);
}

.accept {
  color: limegreen;
}

.reject {
  color: orangered;
}
.no-invitations-message {
  text-align: center;
  font-style: italic;
  color: #888;
  margin-top: 20px;
}
